.nav-side {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    float: right;
    padding: 0 14px;
    margin: 5px ;
    }
  .head-line{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:5px;
    font-size: 35px;
    }
  