.example-card
{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 80px;
  background-color: #f8f8f8;
  color: #555;
}

.example-full-width {
  width: 100%;
}

mat-checkbox
{
  display:block;
}